.header {
  display: flex;
  flex: 1;
  align-items: center;
  height: 40px;
  width: 100vw;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px;
}

.logo img {
  height: 100%;
  object-fit: contain;
  width: auto;
}
